{% extends 'base.html' %}
{% load static %}
{% block title %} Admin Dashboard {% endblock %}

{% block content %}
<h1>Admin Dashboard</h1>

{% if user.is_authenticated %}
<table>
    <thead>
        <tr>
            <th>name</th>
            <th>Assistant org id</th>
            <th>Created_at</th>
            <th>Updated_at ID</th>

        </tr>
    </thead>
    <section>
        
        <tbody>
            {% for assistant in assistants %}
            <tr>
                <form method="post" action="">
    
        
                <td><a href="{% url 'assistant_edit' slug=assistant.id %}">{{ assistant.id }}</a></td>
      
                <td>{{ assistant.name }}</td>
                <td>{{ assistant.org_id }}</td>
                <td>{{ assistant.created_at }}</td>
                <td>{{ assistant.updated_at }}</td>
            </tr>
            {% endfor %}
    
        </tbody>
        <h1>Create New Assistant</h1>
            <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
        <button type="submit">Create Assistant</button>
</form>
    </section>
</table>




    

{% else %}
    <p>Please <a href="{% url 'login_page' %}">log in</a> to access the admin dashboard.</p>
{% endif %}
{% endblock %}