<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Web Assistant Admin Site{% endblock %}</title>
    {% block extra_head %}{% endblock %}

</head>
<body>
    <header>
        {% block header %}
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'account_details' %}">Account_details</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login_page' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endblock %}
    </header>

    <main>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}

        {% block content %}
       
        {% if user.is_authenticated %}
        <section>
            <h2>Recent Activity</h2>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for activity in user_activities %}
                    <tr>
                        <td>{{ activity.date }}</td>
                        <td>{{ activity.action }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="2">No recent activity</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        {%endif%}
        {% endblock %}
       
    </main>

    <footer>
        {% block footer %}
        <p>&copy; yapAI 2024</p>
        {% endblock %}
    </footer>

    {% block extra_body %}{% endblock %}
   
</body>
</html>